h1{
    color: blue;
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
}
h1:hover{
    color: chocolate;
}
p{
    color: brown;
    font-size: 30px;
}
ul{
    color: blueviolet;
    font-size: 20px;
    border: rgb(31, 134, 5) solid 10px;
}